:host {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  min-height: 0;
}

.floor-plan-wrapper {
  position: relative;
  flex: 1;
  width: 100%;
  height: 100%;
  min-height: 0;
  overflow: hidden;
  display: flex;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  background-color: #ebf0f5;
}

.floor-plan-wrapper.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: #ebf0f5;
}
