:host {
  font-family: Arial, sans-serif;
  color: #333;
}
.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.main-header {
  background-color: #005A9C;
  color: white;
  padding: 10px 30px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  flex-shrink: 0;
}
.main-header h1 {
  margin: 0;
  font-size: 1.5rem;
}
.main-content {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}
.panel {
  padding: 1rem;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.panel-right {
  padding: 0;
  overflow: hidden;
}
.panel-left h3 {
  margin-top: 0;
  flex-shrink: 0;
}
:host ::ng-deep .p-tree {
  border: none;
  padding: 0;
  flex-grow: 1;
}