html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden; /* ป้องกัน scroll bar ที่ไม่จำเป็น */
}

app-root {
  display: block; /* หรือ flex ก็ได้ แต่ block ก็เพียงพอ */
  width: 100%;
  height: 100%;
}